body h2 a{
    color: #94193B;
    text-decoration: none;
    position: relative;
}

body h2 a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 0.1em;
    background-color: #94193B;
    transition: width 0.5s ease;
}

body h2 a:hover::after{
    width: 100%;
}